body{
    margin: 0;
    padding: 0;
}
#aquarium {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.bubble{
    width: 66px;
    height: 68px;
    left: 500px;
    position: absolute;
    bottom: -68px;
    opacity: 1;
}

.popped{
    opacity:0;
}

.fish {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 120px;
    position: absolute;
}

.flippedFish {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 120px;
    position: absolute;
}
